<form action="" method="post">{% csrf_token %}
    <input name="pk_subject" type="hidden" value="{{ pk_subject }}" required />
    <input name="reactingto" type="hidden" value="{{ reactingto }}" required />
    {% block textfield %}
    {% endblock %}
    <select name="score" class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <button class="btn btn-info" type="submit">Odeslat</button>
</form>