<table class="table table-sm">
    <caption>{{blockheader}}</caption>
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name of the {{targetaction}}</th>
        </tr>
    </thead>
    {% for item in list %}
    <tr>
        <th>{{forloop.counter}}</th>
        <td>
            <form action="/{{targetaction}}" method="get">
                <input name="id" type="hidden" value="{{ item.id }}" required />
                <button class="btn btn-link" type="Submit">
                    {{item.name|upper}}
                </button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<!--
<div id={{resultgroupid}}>
    <span class="category-header">{{blockheader}}</span> 
    {% if list %}
    {% for item in list %}
    <div class="row searchitem">
        <div class="container-fluid" style="border: 1px solid black">
            <div class="row text-center">
		{% if resultgroupid == "caferesults" %}
                <form action="/cafe" method="get">
                    <input name="id" type="hidden" value="{{ item.id }}" required />
                    <h1><button class="btn btn-link" type="Submit">{{item.name|upper}}</button></h1>
                </form>
		{% elif resultgroupid == "coffeeresults" %}
                <form action="/coffee" method="get">
                    <input name="id" type="hidden" value="{{ item.id }}" required />
                    <h1><button class="btn btn-link" type="Submit">{{item.name|upper}}</button></h1>
                </form>
		{% elif resultgroupid == "cuppingresults" %}
		<form action="/event" method="get">
                    <input name="id" type="hidden" value="{{ item.id }}" required />
                    <h1><button class="btn btn-link" type="Submit">{{item.name|upper}}</button></h1>
                </form>
		{% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
-->
