<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        {% load static %}
        <link rel = "stylesheet" type = "text/css" href = "{% static 'kavarna/styles.css' %}">

    </head>

    <body class="backgrounder">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-right" style="margin-top: 0;">
                        {% if loggeduser %}
                        {% block enterprofile %}
                        <form action="/profile" method="get">
                            <input name="user" type="hidden" value="{{ loggeduser.pk }}" required />
                            <button class="btn btn-link" type="Submit">{{ loggeduser.first_name }} {{ loggeduser.last_name }}</button>
                        </form>
                        {% endblock %}
                        {% endif %}
                    </div>
                    {% block homelink %}
                        <div class="pull-left" style="margin-top: 0;">
                            <a href="{% url '' %}">Home</a>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
        
        <div class="container-fluid">
            {% block maincontent %}
            {% endblock %}
        </div>
        <div class="container-fluid" style="padding-top: 50px">
            
                <!-- content -->
                {% block content2 %}
                {% endblock %}
                <!-- end of content -->
        
    
    </body>
</html>
