<html>
    <head>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
        {% load static %}
        <link rel = "stylesheet" type = "text/css" href = "{% static 'kavarna/styles.css' %}">

    </head>

    <body class="backgrounder">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-right" style="margin-top: 0;">
                        {% block profile %}
			    <form method="get" action="{% url 'profile' %}">{% csrf_token %}
				    <input name="id" type="hidden" value="{{ a.pk }}" required />
				    <button type="Submit">{{ name }} {{ surname }}</button>
			    </form>
                            <a href="{% url 'profile' %}">{{ name }} {{ surname }}aa</a>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="hcentralize" >
                    {{searchbar|safe}}
                </div>
            </div>
        </div>
        <div class="container-fluid" style="padding-top: 50px">
            
                <!-- content -->
                {% block content %}
                {% endblock %}
                <!-- end of content -->
        
        </div>
    </body>
</html>
