{% extends "subpage.html" %}

{% block header %}
        <h1>{{cafe.name}}</h1>
{% endblock %}

{% block menu %}
<div class="row hcentralize">
    <div class="col-lg-3">
	<div>
	    <form method="get" action="{% url 'cafe' %}">{% csrf_token %}
                <input name="id" type="hidden" value="{{ cafe.pk }}" required />
                <button type="Submit">information</button>
            </form>
	</div>
    </div>
    <div class="col-lg-3">
	<div>
	    <form method="get" action="{% url 'cafe_coffee' %}">{% csrf_token %}
                <input name="id" type="hidden" value="{{ cafe.pk }}" required />
                <button type="Submit">coffee</button>
            </form>
	</div>
    </div>
    <div class="col-lg-3">
	<div>
	    <form method="get" action="{% url 'cafe_event' %}">{% csrf_token %}
                <input name="id" type="hidden" value="{{ cafe.pk }}" required />
                <button type="Submit">cupping events</button>
            </form>
	</div>
    </div>
</div>
{% endblock %}

{% block data %}
{% block cafe-content %}
{% endblock %}
{% endblock %}
