{% extends "cafe.html" %}

{% block cafe-content %}
<div class="row hcentralize">
    <div class="col-lg-6">
        <h2>Our offer</h2>
        <table>
            {% for a in cafe_coffee_list %}
            <tr>
                <th>{{ a.name }}
			<!--
		    <form method="get" action="/cafe">
                	<input name="id" type="hidden" value={{a.pk}} required />
                	<button class="btn btn-link" type="Submit">{{a.name}}</button>
            	    </form>-->
		</th><!--
		{% if owner == loggeduser %}
                <th>
                    <form method="get" action="{% url 'deletecafe' %}">{% csrf_token %}
                        <input name="pk" type="hidden" value="{{ a.pk }}" required />
			<input name="request_path" type="hidden" value="/profile_cafe" required />
                        <button type="Submit">Delete</button>
                    </form>
		</th>
		<th>
		    <form method="get" action="{% url 'modifycafe' %}">{% csrf_token %}
                        <input name="pk" type="hidden" value="{{ a.pk }}" required />
			<input name="request_path" type="hidden" value="/profile_cafe" required />
                        <button type="Submit">Modify</button>
                    </form>
		</th>
		{% endif %}-->
             </tr>
             {% endfor %}
         </table>
    </div>
</div>

<br>
{% if owner == loggeduser %}
<div class="row hcentralize">
    <div class="col-lg">
	<div class="row hcentralize"><!--
    	    <a href="{% url 'addcoffee' %}"><button class="btn btn-lg btn-warning" type="submit">Add coffee</button></a>-->
	    <form method="get" action="{% url 'addcoffee' %}">
               	<input name="cafeid" type="hidden" value={{cafe.pk}} required />
                <button class="btn btn-lg btn-warning" type="Submit">Add coffee</button>
            </form>
	</div>
    </div>

</div>
{% endif %}
{% endblock %}
