{% extends "subpage.html" %}

{% block header %}{{event.name}}{% endblock %}

{% block score %}
<div class="row" style="margin: 20px">
    <div class="col-lg text-center"> 
        <!-- LIKE/STOP LIKING tlacitko -->
        {% if loggeduser %}
        <input type="button" id="participate" class="btn btn-lg btn-warning" name="{{ likebutton }}" value=
        {% if participating %}
            "Stop Participating"
        {% else %}
            "Participate"
        {% endif %}
        />
        <script>
        // click -> sends async request
        $('#participate').click(function(){
            $.ajax({
                type: "POST",
                url: "{% url 'event' %}",
                data: {'pk': '{{ event.pk }}',
                       'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: "json",
                // on success changes 
                success: function(response) {
                    $('#participate').prop('value', response.participatevalue)
                },
                // on error nothing :(
                error: function(rs, e) {
                }
            }); 
        })
        </script>
        {% else %}
        <a href="{% url 'signin' %}">Sign in</a> to participate.
        {% endif %}
    </div>
</div>
{% endblock %}

{% block tab1title %}Základní informace{% endblock %}
{% block tab2title %}Co nabízíme?{% endblock %}
{% block tab3title %}Kdo se účastní?{% endblock %}
{% block tab4title %}Vaše názory{% endblock %}



{% block tab1header%}Základní informace{% endblock %}
{% block tab1 %}
<div class="row" style="margin-top: 20px">
    <div class="col-lg-4 text-right">
        <b>Místo konání: </b><br>
        <a href="{% url 'cafe' %}?id={{event.place.pk}}">{{event.place.name}}</a>
    </div>
    <div class="col-lg-4 text-center">
        <b>Cena: </b> <br>
        {{event.price}}
    </div>
    <div class="col-lg-4 text-left">
        <b>Kapacita:</b> <br>
        {{event.capacity}}
    </div>
</div>
Dodat počet přihlášených
{% endblock %}


{% block tab2header %}Naše nabídka{% endblock %}
{% block tab2 %}
{% for cofe in coffee %}
<div class="row" style="margin-top: 20px">
    <div class="col-lg text-center">
	<table align="center"><tr><td>	
	<form method="get" action="/coffee/">
            <input name="id" type="hidden" value="{{ cofe.pk }}" required />
            <button class="btn btn-link" type="Submit">{{cofe.name}}</button>
        </form></td>
    
    {% if loggeduser == event.place.owner %}
        <td>
	<form method="get" action="/deletecoffeeevent/">
            <input name="pk_coffee" type="hidden" value="{{ cofe.pk }}" required />
	    <input name="pk_event" type="hidden" value="{{ event.pk }}" required />
            <button type="Submit">Delete</button>
        </form></td>
    </div>
    {% endif %}</tr></table>
</div>
{% endfor %}

{% if loggeduser == event.place.owner %}
<!-- Adding coffee to event -->
<div class="row text-center" style="margin-top: 20px">
    <div class="col-lg text-center">
	<form method="get" action="/addcoffeeevent/">
            <input name="pk" type="hidden" value="{{ event.pk }}" required />
	    <table align="center"><tr><td>
    		Coffee:</td><td>
    		<select name="coffee">
			<option value=""></option>
	    	    {% for cof in all_coffee %}
	            	<option value="{{ cof.pk }}">{{ cof.name }}</option>
	    	    {% endfor %}
    		</select></td><td>
            	<button type="Submit">Add coffee to event</button></td></tr>
	    </table>
        </form>
    </div>
</div>
{% endif %}

{% endblock %}


{% block tab3header %}Seznam účastníků{% endblock %}
{% block tab3 %}
<ul>
{% for p in event.participants.all %}
    <li><a href="{% url 'profile' %}?user={{p.pk}}">{{p.first_name}} {{p.last_name}}</a></li>
{% endfor %} 
</ul>
{% endblock %}






<!--
<div class="row text-center" style="margin-top: 20px">
    <div class="col">
        <form method="get" action="/cafe_coffee/">
            <input name="id" type="hidden" value="{{ cafe.pk }}" required />
            <button class="btn btn-link" type="Submit">BACK</button>
        </form>
    </div>
</div>-->



