<html>
    <head>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            
        {% load static %}
        <link rel = "stylesheet" type = "text/css" href = "{% static 'kavarna/styles.css' %}">
    </head>

    <body class="backgrounder hcentralize">
        <div class="container-fluid hcentralize vcentralize">
            <div class="row">
                <div class="col">
            
                    <!-- content -->
                    {% block content %}
                    {% endblock %}
                    <!-- end of content -->
                           
                </div>
            </div>
        </div>
        

    </body>
</html>