{% extends "titlepage.html" %}

{% block content %}


<a href="{% url '' %}"><h1 class="text-center">Café Database</h1></a>
{% include 'snippets/searchbar.html' %} 

<div class="row hcentralize">
    <a href="register"><button class="btn btn-lg btn-info" type="submit">Register</button></a>
    <a href="signin"><button class="btn btn-lg btn-info" type="submit">Sign in</button></a>
</div>

<!--
<div class="row hcentralize">
    <a href="users"><button class="btn btn-lg btn-warning" type="submit">DEBUG UsersList</button></a>
    <a href="cafes"><button class="btn btn-lg btn-warning" type="submit">DEBUG CafesList</button></a>
</div>
-->
{% endblock %}

{% block homelink %}
{% endblock%}