{% extends "titlepage.html" %}

{% block content %}
<form id="RegisterForm" data-toggle="validator" role="form" class="form-signin" action="/modifycoffee/" method="post">{% csrf_token %}
    <h3 class="text-center">Modify Coffee</h3>
    {{warning|safe}}
    <input name="cafeid" type="hidden" value="{{ cafe.pk }}" required />
    <input name="coffeeid" type="hidden" value="{{ coffee.pk }}" required />
    <input name="next_url" type="hidden" value="{{ next_url }}" required />
    <input type="" class="form-control" name="name" value="{{ coffee.name }}" required>
    <input type="" class="form-control" name="placeoforigin" value="{{ coffee.place_of_origin }}">
    <input type="" class="form-control" name="quality" value="{{ coffee.quality }}">
    <input type="" class="form-control" name="taste" value="{{ coffee.taste_description }}">
    <table>
    	<tr><td>
    	Preparation:</td><td>
    	<select name="preparation">
	    {% for prep in preparations %}
	        <option value="{{ prep.pk }}">{{ prep.name }}</option>
	    {% endfor %}
    	</select></td>
    	</tr><tr>

	<td>
    	Bean (%):</td><td>
    	<select name="bean">
	    {% for bean in beans %}
	    	<option value="{{ bean.pk }}">{{ bean.name }}</option>
	    {% endfor %}
    	</select>
        <input type="" class="form-control" name="beanperc" placeholder="percentage of said bean">
        </td></tr><tr>
	<td>
    	Bean (%):</td><td>
    	<select name="bean2">
	    {% for bean in beans %}
	    	<option value="{{ bean.pk }}">{{ bean.name }}</option>
	    {% endfor %}
    	</select>
        <input type="" class="form-control" name="beanperc2" placeholder="percentage of said bean">
        </td></tr><tr>
	<td>
    	Bean (%):</td><td>
    	<select name="bean3">
	    {% for bean in beans %}
	    	<option value="{{ bean.pk }}">{{ bean.name }}</option>
	    {% endfor %}
    	</select>
        <input type="" class="form-control" name="beanperc3" placeholder="percentage of said bean">
        </td>

    </tr>
    </table>
    <button id="RegisterFormSubmit" class="btn btn-lg btn-warning btn-block" type="submit">Modify coffee</button>
</form>

<div class="row hcentralize">
    <a href="{{ next_url }}"><button class="btn btn-lg btn-info" type="submit">Go back</button></a>
</div>
{% endblock %}
