{% extends "titlepage.html" %}

{% block content %}
<form id="RegisterForm" data-toggle="validator" role="form" class="form-signin" action="/modifycafe/" method="post">{% csrf_token %}
    <h3 class="text-center">Modify Café</h3>
    {{warning|safe}}
    <input name="cafe" type="hidden" value="{{ cafe.pk }}" required />
    <input name="next_url" type="hidden" value="{{ next_url }}" required />
    <table align="center">
    <tr><td>Cafe Name *: </td><td>
    <input id="name_l" type="" class="form-control" name="name" value="{{cafe.name}}" required></td>
    </tr><tr><td>Street: </td><td>
    <input type="" class="form-control" name="street" value="{{cafe.street}}"></td>
    </tr><tr><td>House Number: </td><td>
    <input type="" class="form-control" name="housenumber" value="{{cafe.housenumber}}"></td>
    </tr><tr><td>City: </td><td>
    <input type="" class="form-control" name="city" value="{{cafe.city}}"></td>
    </tr><tr><td>PSC (00000): </td><td>
    <input type="" class="form-control" name="psc" value="{{cafe.psc}}"></td>
    </tr><tr><td>Opening Time: </td><td>
    <input type="" class="form-control" name="opensat" value="{{cafe.opensAt}}"></td>
    </tr><tr><td>Closing Time: </td><td>
    <input type="" class="form-control" name="closesat" value="{{cafe.closesAt}}"></td>
    </tr><tr><td>Capacity: </td><td>
    <input type="" class="form-control" name="capacity" value="{{cafe.capacity}}"></td>
    </tr><tr><td>Description: </td><td>
    <input type="" class="form-control" name="description" value="{{cafe.description}}"></td>
    </tr></table>
    <button id="RegisterFormSubmit" class="btn btn-lg btn-warning btn-block" type="submit">Modify cafe</button>
</form>

<div class="row hcentralize">
    <a href="/profile/?user={{loggeduser.pk}}#Tab2"><button class="btn btn-lg btn-info" type="submit">Go back</button></a>
</div>
{% endblock %}
