{% extends "page.html" %}

{% block content %}
<div class="row hcentralize">
    <div class="col">
        <h1>{{cafe.name}}</h1>
    </div>
</div>
<div class="row" style="margin-top: 20px">
    <div class="col-lg-4 text-center">
        {{cafe.street}} {{cafe.housenumber}}<br>
        {{cafe.city}}
    </div>
    <div class="col-lg-4 text-center">
        {{cafe.opensAt}} - {{cafe.closesAt}}
    </div>
    <div class="col-lg-4 text-center">
        Hodnocení
    </div>
</div>
<div class="row" style="margin-top: 30px">
    <div class="col text-center">
        <p>{{cafe.description}}</p>
    </div>
</div>
<div class="row text-center" style="margin-top: 20px">
    <div class="col">
        <form method="get" action="/profile">
            <input name="user" type="hidden" value="{{ cafe.owner.id }}" required />
            <button class="btn btn-link" type="Submit">{{cafe.owner.first_name}} {{cafe.owner.last_name}}</button>
        </form>
    </div>
</div>
{% endblock %}
