{% extends "subpage.html" %}


{% block header %}{{ userdata.first_name }} {{ userdata.last_name }}{% endblock %}

{% block tab1title %}Základní informace{% endblock %}
{% block tab2title %}Kavárny{% endblock %}
{% block tab3title %}Zúčastním se{% endblock %}
{% block tab4title %}Mé názory{% endblock %}


{% block tab1header %}Základní informace{% endblock %}
{% block tab1 %}
<div class="row text-center">
    <b>Jméno:</b> {{ userdata.first_name }}<br>
    <b>Příjmení:</b> {{ userdata.last_name }}<br>
    <b>E-mail:</b> {{ userdata.email }}<br>
</div>
{% endblock %}


{% block tab2header %}Kavárny{% endblock %}
{% block tab2 %}
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <h4>Oblíbené</h4>
        <table>
        {% for fav in drinkerdata.likes_cafe.all %}
            <tr><th><a href="{% url 'cafe' %}?id={{fav.pk}}">{{fav.name}}</a></th>
	</tr>
        {% endfor %}
        </table>

        <h4>Spravuji</h4>
        <table>
        {% for own in owningcafes %}
            <tr><th><a href="{% url 'cafe' %}?id={{own.pk}}">{{own.name}}</a></th>

		{% if userdata == loggeduser %}
                <th>
                    <form method="get" action="{% url 'deletecafe' %}">{% csrf_token %}
                        <input name="pk" type="hidden" value="{{ own.pk }}" required />
			<input name="request_path" type="hidden" value="/profile_cafe" required />
                        <button type="Submit">Delete</button>
                    </form>
		</th>
		<th>
		    <form method="get" action="{% url 'modifycafe' %}">{% csrf_token %}
                        <input name="pk" type="hidden" value="{{ own.pk }}" required />
			<input name="request_path" type="hidden" value="/profile_cafe" required />
                        <button type="Submit">Modify</button>
                    </form>
		</th>
		{% endif %}


        {% endfor %}
        </table>
    </div>
    <div class="col-lg-4"></div>
</div>

{% if userdata == loggeduser %}
<div class="row hcentralize">
    <div class="col-lg-3">
        <!--<h3>Založit Kavárnu</h3>
        <form action="{% url 'addcafe' %}" method="post">{% csrf_token %}
	    <input name="pk" type="hidden" value="{{ user_profile.pk }}" required />
            <button class="btn btn-info" type="submit">Založit Kavárnu</button>
        </form>-->
	<div class="row hcentralize">
    	    <a href="{% url 'addcafe' %}"><button class="btn btn-lg btn-warning" type="submit">Add café</button></a>
	</div>
    </div>

</div>
{% endif %}


{% endblock %}


{% block tab3header %}Zúčastním se{% endblock %}
{% block tab3 %}
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <ul>
        {% for e in events %}
            <li><a href="{% url 'event' %}?id={{e.pk}}">{{e.name}}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-lg-4"></div>
</div>
{% endblock %}


