<html>
    <head>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            
        {% load static %}
        <link rel = "stylesheet" type = "text/css" href = "{% static 'kavarna/styles.css' %}">
    </head>

    <body class="backgrounder hcentralize vcentralize">
        <div class="row">
            <div class="col">

                <form class="form-signin" action="/home" method="post">
                    <h1 class="text-center">Café Database</h1>
                    <h3 class="text-center">Register Form</h3>
                    <input type="" class="form-control" name="name" placeholder="Name" required>
                    <input type="" class="form-control" name="surname" placeholder="Surname" required>
                    <input type="" class="form-control" name="email" placeholder="Email" required>
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                    <input type="password" class="form-control" name="password" placeholder="Repeat the Password" required>
                    <button class="btn btn-lg btn-warning btn-block" type="submit">Register</button>
                </form>
                
                <div class="row hcentralize">
                        <a href="{% url '' %}"><button class="btn btn-lg btn-info" type="submit">Go Home</button></a>
                </div>
                
            </div>
        </div>

    </body>
</html>