<html>
    <head>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
        {% load static %}
        <link rel = "stylesheet" type = "text/css" href = "{% static 'kavarna/styles.css' %}">
    </head>

    <body class="backgrounder">
        <div class="container">
            
            <div class="row hcentralize">
                <div class="col" style="padding-top: 40px">
                    {{searchbar|safe}}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    Cafés<br>
                    Coffees<br>
                    Addresses
                </div>
                <div class="col">
                        Ahoj<br>
                        Ahoj<br>
                        Ahoj
                </div>
                <div class="col">Jsem tady!!</div>
            </div>
        
        </div>
    </body>
</html>