{% extends "base.html" %}

{% block content %}
<div class="col-lg-2 searchmenu">
    Cafés<br>
    Coffees<br>
    Addresses<br>
</div>
<div class="col-lg-8 searchlist">

    {% for item in searchitems %}
    <div class="row searchitem">
        <div class="container-fluid" style="border: 1px solid black">
            <div class="row text-center">
                <h1>{{item.name|upper}}</h1>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
<div class="col-lg-2"></div>
{% endblock %}