{% extends "page.html" %}

{% block content %}
<div class="row text-center" style="padding-bottom: 20px">
    Results for "{{key}}".
</div>

<div class="row">
    <div class="col-lg-1 text-right">
        <div class="row" style="padding-right: 30%">
            <span style="position: fixed">
                <a href="#caferesults">Cafés</a><br>
                <a href="#coffeeresults">Coffees</a><br>
                <a href="#placeresults">Places</a><br>
            </span>
        </div>
    </div>

    
    
    <div class="col-lg-10 searchlist" style="margin-left: 40px">
         
        {% include 'snippets/searchresult.html' with list=caferesults resultgroupid="caferesults" blockheader="Café" %}
	
        {% include 'snippets/searchresult.html' with list=coffeeresults resultgroupid="coffeeresults" blockheader="Coffee" %}
	
        {% include 'snippets/searchresult.html' with list=placeresults resultgroupid="placeresults" blockheader="Place" %}

    </div>
    
    <div class="col-lg-1"></div>
</div>

{% endblock %}
