<div id="custom-search-input">
    <form action="/search" method="get">
        <div class="input-group col-md-12">
            <input type="text" name="key" class="form-control" style="height: 50px; width: 700px" placeholder="Type a street, a café..." value="{{key}}"/>
            <span class="input-group-btn">
                <button class="btn btn-dark btn-lg" style="margin-top: 1px; height: 50px" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </form>
</div>
