{% extends "page.html" %}

{% block content %}

<h2 align="center">Admin page</h2>

<div class="row">
<div class="col-lg-3"></div>
<div class="col-lg-6">

<table class="table table-sm">
	<caption>Users</caption>
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Admin</th>
			<th scope="col">Edit</th>
			<th scope="col">Delete</th>
		</tr>
	</thead>
{% for u in users %}
    <tr>
		<th>#{{forloop.counter}}</th>
		<td>
			<a href="{% url 'profile' %}?user={{u.pk}}">{{u.first_name}} {{u.last_name}}</a>
		</td>

		<td>
			{% for d in drinkers %}
			{% if u.pk == d.key %}
			{% if d.admin == False %}
				<form method="get" action="{% url 'promoteuser' %}">{% csrf_token %}
					<input name="user" type="hidden" value="{{ u.pk }}" required />
					<input name="request_path" type="hidden" value="/adm" required />
					<button type="Submit" class="btn btn-success">Promote</button>
				</form>
			{% else %}
				<form method="get" action="{% url 'demoteuser' %}">{% csrf_token %}
					<input name="user" type="hidden" value="{{ u.pk }}" required />
					<input name="request_path" type="hidden" value="/adm" required />
					{% if u.pk != loggeduser.pk %}	
					<button type="Submit" class="btn btn-danger">Demote</button>
					{% else %}
					<button type="Submit" class="btn btn-danger" disabled>Demote</button>
					{% endif %}
				</form>
			{% endif %}
			{% endif %}
			{% endfor %}
		</td>
	
		<td>
			<form method="get" action="{% url 'modifyuser' %}">{% csrf_token %}
				<input name="user" type="hidden" value="{{ u.pk }}" required />
				<input name="request_path" type="hidden" value="/adm" required />
				<button type="Submit" class="btn btn-primary">Edit</button>
			</form>
		</td>

		<td>
	   		<form method="get" action="{% url 'deleteuser' %}">{% csrf_token %}
            	<input name="user" type="hidden" value="{{ u.pk }}" required />
				<input name="request_path" type="hidden" value="/adm" required />
				{% if u.pk != loggeduser.pk %}
				<button type="Submit" class="btn btn-warning">Delete</button>
				{% else %}
				<button type="Submit" class="btn btn-warning" disabled>Delete</button>
				{% endif %}
			</form>
		</td>
	
    </tr>
{% endfor %}
</table>


<table class="table table-sm">
	<caption>Cafes</caption>
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Edit</th>
			<th scope="col">Delete</th>
		</tr>
	</thead>
	{% for c in cafes %}
    <tr>
		<td>#{{forloop.counter}}</td>
		<td>
			<a href="{% url 'cafe' %}?id={{c.pk}}">{{c.name}}</a>
		</td>
		<td>
			<form method="get" action="{% url 'modifycafe' %}">{% csrf_token %}
				<input name="pk" type="hidden" value="{{ c.pk }}" required />
				<input name="request_path" type="hidden" value="/adm" required />
				<button type="Submit" class="btn btn-primary">Edit</button>
			</form>
		</td>
		<td>
	    	<form method="get" action="{% url 'deletecafe' %}">{% csrf_token %}
            	<input name="pk" type="hidden" value="{{ c.pk }}" required />
				<input name="request_path" type="hidden" value="/adm" required />
                <button type="Submit" class="btn btn-warning">Delete</button>
            </form>
		</td>
	</tr>
	{% endfor %}
</table>


<table class="table table-sm">
	<caption>Coffees</caption>
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Edit</th>
			<th scope="col">Delete</th>
		</tr>
	</thead>
	{% for c in coffee %}
    <tr>
		<td>#{{forloop.counter}}</td>
		<td>
			<a href="{% url 'coffee' %}?id={{c.pk}}">{{c.name}}</a>
		</td>
		<td>
			<form method="get" action="{% url 'modifycoffee' %}">{% csrf_token %}
				<!--<input name="pk" type="hidden" value="{{ cafe.pk }}" required />-->
				<input name="coffeeid" type="hidden" value="{{ c.pk }}" required />
				<input name="request_path" type="hidden" value="/adm" required />
				<button type="Submit" class="btn btn-primary">Edit</button>
			</form>
		</td>
		<td>
	    	<form method="get" action="{% url 'deletecoffee' %}">{% csrf_token %}
				<!--<input name="pk_cafe" type="hidden" value="{{ c.pk }}" required />-->
                <input name="pk" type="hidden" value="{{ c.pk }}" required />
				<input name="request_path" type="hidden" value="/adm" required />
                <button type="Submit" class="btn btn-warning">Delete</button>
            </form>
		</td>
	
    </tr>
	{% endfor %}
</table>


<table class="table table-sm">
	<caption>Events</caption>
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Edit</th>
			<th scope="col">Delete</th>
		</tr>
	</thead>
	{% for e in events %}
    <tr>
		<td>#{{forloop.counter}}</td>
		<td>
			<a href="{% url 'event' %}?id={{e.pk}}">{{e.name}}</a>
		</td>
		<td>
			<form method="get" action="{% url 'modifyevent' %}">{% csrf_token %}
				<!--<input name="id" type="hidden" value="{{ cafe.pk }}" required />-->
				<input name="eventid" type="hidden" value="{{ e.pk }}" required />
				<input name="request_path" type="hidden" value="/adm" required />
				<button type="Submit" class="btn btn-primary">Edit</button>
			</form>
		</td>
		<td>
	    	<form method="get" action="{% url 'deleteevent' %}">{% csrf_token %}
            	<input name="pk" type="hidden" value="{{ e.pk }}" required />
				<input name="request_path" type="hidden" value="/adm" required />
                <button type="Submit" class="btn btn-warning">Delete</button>
            </form>
		</td>
    </tr>
	{% endfor %}
</table>


<table class="table table-sm">
	<caption>Preparations</caption>
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Delete</th>
		</tr>
	</thead>
	{% for p in preparations %}
    <tr>
		<td>#{{forloop.counter}}</td>
		<td>{{p.name}}</td>
		<td>
	    	<form method="get" action="{% url 'deleteprep' %}">{% csrf_token %}
            	<input name="pk" type="hidden" value="{{ p.pk }}" required />
				<input name="request_path" type="hidden" value="/adm" required />
                <button type="Submit" class="btn btn-warning">Delete</button>
            </form>
		</td>
    </tr>
	{% endfor %}
</table>

<div class="hcentralize">
	<form method="get" action="{% url 'addprep' %}">{% csrf_token %}
		<input name="request_path" type="hidden" value="/adm" required />
        <button type="Submit" class="btn btn-success">Add new preparation</button>
        </form>
</div>


<table class="table table-sm">
	<caption>Coffee beans</caption>
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Delete</th>
		</tr>
	</thead>
	{% for b in beans %}
    	<tr>
			<td>#{{forloop.counter}}</td>
			<td>{{b.name}}</td>
			<td>
	    		<form method="get" action="{% url 'deletebean' %}">{% csrf_token %}
            		<input name="pk" type="hidden" value="{{ b.pk }}" required />
					<input name="request_path" type="hidden" value="/adm" required />
                	<button type="Submit" class="btn btn-warning">Delete</button>
            	</form>
			</td>
    	</tr>
	{% endfor %}
</table>

<div class="hcentralize">
	<form method="get" action="{% url 'addbean' %}">{% csrf_token %}
		<input name="request_path" type="hidden" value="/adm" required />
		<button type="Submit" class="btn btn-success">Add new bean</button>
	</form>
</div>

</div>
<div class="col-lg-3"></div>
</div>

<hr><br>
<div align="center">
    <a href="/profile/?user={{profile.pk}}#Tab1"><button class="btn btn-lg btn-info" type="submit">Go Back</button></a>
</div>



{% endblock %}
